﻿@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <link href="@Url.Content("~/Content/stil.css")" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    <meta name="viewport" content="width=device-width" />
</head>
<body style="background-color:#F6CED8">
    <div class="row" style="margin-top:-30px;">
        <div class="col-md-8">
            <div class="col-md-6"></div>
            <div class="col-md-6">
                <div class="input-group">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">Ara</button>
                    </span>
                    <input type="text" class="form-control" placeholder="Arama...">
                </div>
            </div>
        </div>
        <div class="col-md-4">
             <button type="button" class="col-md-offset-6 btn btn-warning">Bize katılın</button>
        </div>
    </div>
    <br/>
    
   <div class="container body-content" style="background-color:rebeccapurple;border: 2px outset cyan;
    border-radius: 5px;">
       <header>
           <div>
               <ul class="nav nav-pills navbar-static-top">
                   <li> @Html.ActionLink("Anasayfa", "Anasayfa", "Home")</li>
                   <li>@Html.ActionLink("İlanlar", "Ilanlar", "Home")</li>
                   <li>@Html.ActionLink("Evcil Hayvan Bakımı", "EvcilHayvanBakimi", "Home")</li>
                   <li>@Html.ActionLink("Sahiplendirme Bilgileri", "SahiplendirmeBilgileri", "Home")</li>
                   <li>@Html.ActionLink("Fotoğraf/Videolar", "FotoVideo", "Home")</li>
                   <li>  @Html.ActionLink("İletişim", "Iletisim", "Home")</li>
                   <li>
                       <div class="dropdown">
                           <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">TR <span class="caret"></span></button>
                           <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                               <li><a href="#">EN</a></li>
                           </ul>
                       </div>
                   </li>
             </ul>
          </div>
       </header>
   </div>

    <div class="container">
        @RenderBody()
    </div>
    
    <br/>
    <div class="container body-content" style="background-color:rebeccapurple;
    border: 2px outset cyan;
    border-radius: 5px;">
        <footer >
            <div>
                <a target="_blank" title="find us on Facebook" href="http://www.facebook.com/"><img alt="follow me on facebook" src="//login.create.net/images/icons/user/facebook_30x30.png" border=0 img align="right"></a>
                <a target="_blank" title="follow me on twitter" href="http://www.twitter.com/"><img alt="follow me on twitter" src="//login.create.net/images/icons/user/twitter_30x30.png" border=0 img align="right"></a>
            </div>
        </footer>
        
    </div>
    
    
</body>
</html>
